<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maipatgeorge.tequila.ictwordguessinggames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpeningMenu"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".GuestStartGame"
            android:label="@string/title_activity_guest_start_game"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FBuserStartGame"
            android:label="@string/title_activity_fbuser_start_game"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestDB"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuestWL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuestSEC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FBuserWL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FBuserSEC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FBuserDB"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Glev.GWL1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FBlev.FBWL1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Glev.GSEC1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FBlev.FBSEC1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Glev.GDB1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".FBlev.FBDB1"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>